.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    margin-left: 0;
  }
   
  .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
      margin-left: 0;
  }
   
  
  span.cm-header.cm-header-1 {

      color: #b53039;
  }
   
  span.cm-header.cm-header-2 {
      color: #f7aa4d;
  }
   
  span.cm-header.cm-header-3 {
      color: #fff9d7;
  }
   
  span.cm-header.cm-header-4 {
      color: #549B3A;
  }

  span.cm-header.cm-header-5 {
    color: #3a9b99;
}


span.cm-header.cm-header-6 {
  color: #3a479b;
}


  span.cm-strong{
    font-weight: 1000;
    color: #60f8fe;
  }


  span.cm-em{
    font-weight: 100;
    color: #60fec1;
  }

  div.hr.cm-line{
    text-decoration-thickness: 100px;  

  }
  